<IfModule mod_rewrite.c>


    RewriteEngine On

    RewriteCond %{REQUEST_URI} !^/dariux(/|$)
        RewriteCond %{REQUEST_URI} !^/dario(/|$)
        RewriteRule ^(.*)$ /dariux/$1 [L,R=301]
</IfModule>

