/* ==================== GENERALE ==================== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.meta {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

/* ==================== TABELLA ==================== */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 4px 6px;
    text-align: center;
}

td {
    height: 25px;
    vertical-align: middle;
    font-size: 11px;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.check {
    font-size: 20px;
    font-weight: bold;
}

/* ==================== STAMPA ==================== */
@media print {
    body {
        padding: 0;
        margin: 0;
    }

    button {
        display: none;
    }

    table {
        font-size: 12pt;
    }
}