

#homepage
{
  background-image: url(https://pub-4f13aafa262741f4ac7296bdc6314f30.r2.dev/gemma_2/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

