.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}


.swiper-slide:nth-child(1n) {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
  overflow-y: visible;
}
