
body {
  background: linear-gradient(180deg, rgba(43,47,255,0.3) 0%, rgba(145,215,252,0.3) 100%);
  background-repeat: no-repeat;
}

video {
  width: 50vw;
  position: relative; /* Imposta la posizione relativa per consentire il posizionamento assoluto del paragrafo */
}


nav {
  background-color: #2B2FFF;
  color: white !important;
}

.nav-link {
  color: white !important;
}
