html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width:85%;
    height: 85%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    
}

.btn
{
    background-color: #336633 ;
    color: white;
}
.btn:hover
{
    background-color: #336633;
}
a
{
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
    color: white;
}
#button {
    position: sticky;
    top: 0px;
    z-index: 1000;
  }

  @media only screen and (min-width: 576px) {
    #ciao
    {
        display: none;
    }
  }
  
  @media only screen and (max-width: 575.98px) {
    .swiper {
      display: none;
    }
  
  }
  