/*
	#336633 VERDE
	#d5b480 ORO
	#fbf8f3 BG ALTERNATIVO
*/
body{ font-family: 'Mukta', sans-serif; font-weight: 300; background-color: #fbf8f3;  }

.font1{ font-family: 'Mukta', sans-serif !important;  }
.font2{ font-family: 'PT Serif', serif !important; }

.bgalternativo{ background: #fbf8f3;   }
.bgw{ background: rgba(255,255,255,0.9) ; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); }

.btn.btn-primary{ border-radius: 0px; background: #d5b480; border-color: #d5b480; line-height: 50px; font-size: 18px;  width: 70%; color:#FFF;  }
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:target,
.btn.btn-primary:visited{ background: #d5b480 !important; border-color: #d5b480 !important;   }
.btn.btn-secondary{ border-radius: 0px; background: #336633; border-color: #336633; line-height: 60px; font-size: 18px;    }

.navheader{ background: rgba(255,255,255,0.85);  padding: 15px 0;  }
.navheader .row{ width: 100%;   }

#header .logo{ display: block; margin: 10px auto; }

#header .menu{ display: inline-block; color: #336633; text-transform: uppercase; font-size: 16px; text-align: left;  }
#header .menu:hover{ text-decoration: none;   }
#header .menu > span{ display: block; }
#header .menu > span:nth-child(1){ width: 35px; height: 2px; background: #336633; margin: 2px 0 0 0; }
#header .menu > span:nth-child(2){ width: 25px; height: 2px; background: #336633; margin: 13px 0; }
#header .menu > span:nth-child(3){ width: 35px; height: 2px; background: #336633; margin: 0 0 0px 0; }
#header .menu > span:nth-child(4){ margin-top: 11px;   }

#header .prenota{ display: block; color: #336633; text-transform: uppercase; font-size: 16px; text-align: left; text-align:center;  }
#header .prenota:hover{ text-decoration: none;   }
#header .prenota span{ display: block; margin-top: 7px;  }
#header .prenota img{ display: block; margin: 0px auto;  }

#header .chiudi{  font-size: 16px; color: #336633; text-transform: uppercase; display: block;   }
#header .chiudi:hover{ text-decoration: none;   }
#header .chiudix { position: relative ;width: 40px; height: 40px; display: block; margin: 0px auto 7px; }
#header .chiudix:before, #header .chiudix:after { position: absolute; left: 20px; content: ' '; height: 41px; width: 2px; background-color: #336633; }
#header .chiudix:before { transform: rotate(45deg); }
#header .chiudix:after { transform: rotate(-45deg); }
#header .icons{  display: block; color: #336633; text-transform: uppercase; font-size: 16px; text-align: left; text-align:center; }
#header .icons:hover{ text-decoration: none; }
#header .icons .fa{ display: block; font-size: 44px; line-height: 46px; margin-bottom: 5px; margin-top: -6px;  }
#header .icons .font2{ display: block  }

.banner-fluid{ position: relative;  }
.banner-fluid .scorri{ position: absolute; bottom: 0px; width: 100%; max-width: 200px; left: calc( 50% - 100px ); font-size: 20px; font-weight: 300; color: #FFF; display:none;   }
.banner-fluid:nth-child(2) .scorri{ display: block;  }
.banner-fluid .scorri:hover{ text-decoration: none; }
.banner-fluid .scorri > *{ display: block; text-align:center ; }
.banner-fluid .scorri .fa{ line-height: 60px; font-size: 60px; }

.standard{ text-align:center; padding-top: 40px ; padding-bottom: 40px;  }
.standard h1,
.standard h2,
.standard h3,
.standard h4{ font-family: 'PT Serif', serif !important; }
.standard table img{max-width: 100%; display:block; }
.standard table td p{ font-size: 16px; line-height: 30px;   }
.standard a{ color: #d5b480;  }

.standard h1,
.standard h2{ color: #336633; margin:0px; padding: 0px; font-size: 44px; line-height: 50px; }
.standard h3{ font-size: 28px; line-height: 30px; color: #336633; }
.standard h4{ font-size: 24px; line-height: 30px; color: #336633; margin: 15px 0 0 0; }
.standard p{ font-size: 20px; line-height: 30px; margin: 14px 0 0 0; padding: 0px;  }
.standard .stelle{ color: #d5b480;  }
.standard .stelle .fa{ margin: 0px 2px; }
.standard ul{  margin: 15px 0px;  padding: 0 0 0 15px; }
.standard ul li{ font-size: 20px; line-height: 30px; }
.standard p + h3,
.standard p + h4{  margin: 15px 0 0 0; }

.standard.informativa{ margin-top: 100px; padding-bottom: 30px; }
.standard.informativa a{ color: #333; text-decoration: underline; }
.standard.informativa h1{ font-size: 30px; padding-bottom: 15px;  }
.standard.informativa h3{ font-size: 22px; text-transform: uppercase; padding: 16px 0 6px 0; font-weight: bold; }
.standard.informativa h3 > .standard p{ padding-top: 0px; margin-top: 0px; }
.standard.informativa h4{ font-size: 18px; font-weight: bold; padding: 16px 0 6px 0; color: #d5b480; }
.standard.informativa h3 + h4{ margin-top: 0px; padding-top: 0px; }
.standard.informativa h4 + p{ padding-top: 0px; margin-top: 0px; }
.standard.informativa p{ line-height: 160%; }


.standard-album{ position: relative; margin-top: 40px; margin-bottom: 40px; }
.standard-album h1,
.standard-album h2,
.standard-album h3{ color: #336633; margin: 30px 0 0 0px; padding: 0px; font-family: 'PT Serif', serif !important; font-size: 28px; line-height: 30px;   }
.standard-album p{ margin: 30px 0px; padding: 0px; font-size: 16px;  line-height: 30px;  }
.standard-album p + p:last-child(){ margin-bottom: 0px; }
.standard-album .contieni-testo{ background: rgba(255,255,255,0.9); padding: 50px; z-index: 100; margin-top: 70px; margin-bottom: 70px; -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);  }
.standard-album .immagine-album{ display:  block; width: 55%; position: absolute; top: 0px;  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);   }
.standard-album.sx .immagine-album{ right: 0px;   }
.standard-album.dx .immagine-album{ left: 0px;   }
.standard-album .owl-album{ display:  block; width: 55%; position: absolute; top: 0px;   -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);  }
.standard-album.sx .owl-album{ right: 0px;   }
.standard-album.dx .owl-album{ left: 0px;   }
.standard-album a{ color: #d5b480;  }

.table-standard-album{ width:100%; text-transform: uppercase; color: #d5b480; font-weight: 700; font-size: 12px; line-height: 12px;  margin: 0 0 40px 0;   }
.table-standard-album img{ display: block; margin: 0px auto 15px;  }

.table-servizi{}
.table-servizi tr td{ text-transform: uppercase; font-size: 90%; text-align: center; }
.table-servizi tr td{ padding: 10px 30px 30px 30px;vertical-align: top; font-weight: bold; color: #336633; line-height: 120%; }
.table-servizi tr td img{ display: block; margin: 10px auto;  }

.owl-theme .owl-nav.disabled + .owl-dots{ margin-top: 0px;   }
.owl-theme .owl-dots{ position: absolute; bottom: 75px; left: 15%; width: 85%; text-align:left ; }
.owl-theme .owl-dots .owl-dot span{ background: transparent; width: 16px; height: 16px; margin:4px; position: relative; border: 1px solid transparent; }
.owl-theme .owl-dots .owl-dot span:after{ display: block; position: absolute; width: 6px; height: 6px; background: rgba(255,255,255,0.6); content: " "; border-radius: 100px; top: 4px; left: 4px; }
.owl-theme .owl-dots .owl-dot span{ border-color: rgba(255,255,255,0.6); }
.owl-theme .owl-dots .owl-dot.active span{ border-color: #FFFFFF; }
.owl-theme .owl-dots .owl-dot.active span:after{ background: #FFFFFF; }
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{ background: transparent ; }

.contieni-pagine{ padding-top: 20px; padding-bottom: 10px; }
.contieni-pagine .testo{ padding: 40px 30px 30px 30px; }
.contieni-pagine p{  font-size: 16px; line-height: 30px; margin-bottom: 0px; }
.contieni-pagine h1,
.contieni-pagine h2,
.contieni-pagine h3{ color: #336633; margin: 30px 0 20px 0px; padding: 0px; font-family: 'PT Serif', serif !important; font-size: 28px; line-height: 30px;   }
.contieni-pagine .owl-container .item{  height: 230px;   }
.contieni-pagine .owl-theme .owl-dots{  bottom: 20px; left: 0px; width: 100%; text-align:center; }
.contieni-pagine .owl-carousel{ padding: 0px 15px 15px ;  }
.contieni-pagine .bganteprima{ min-height: 390px; position: relative; margin-bottom: 30px  }
.contieni-pagine .bganteprima .btn{  bottom:20px;  position: absolute; left: 15%;   }

.standard-mappa{ position: relative; padding: 40px 0;  }
.bloccomappa.absolute{ width:100%; position:absolute; top: 40px; left: 0px; overflow: hidden;  }

.mappa{ padding-left: 0px; padding-right: 0px; }
#mappagoogle{ position: relative; height: 485px; margin: 0 0 0px 0; }
#mappagoogle img{ margin:0px; }
#mappagoogle label { width: auto; display:inline; }
#mappagoogle img { max-height: none; max-width: none; }
#mappagoogle .gm-style{  font-family: 'Mukta', sans-serif !important; color: #333 }
#mappagoogle .gm-style-iw { top: 10px !important; left: 25px !important; background: #000 !important; }
#mappagoogle .gm-style img { max-width: none; }

footer{ background: #336633; color: #FFF; padding-top: 40px ; padding-bottom: 40px; }
footer a{ color: #FFF;  }
footer a:hover{ color: #FFF;  }
footer .logo{ display: inline-block;  }
footer .logo img{ display: block; margin: 0px auto 20px;  }
footer .riga{  display: block; font-size: 16px; line-height: 30px;     }
footer .separatore{ display: block; margin:30px auto ;  }
footer .social{ font-size: 40px;  margin: 0px 2.5px; color: #FFF;  }
footer .social:hover{ text-decoration: none; }
footer ul{ list-style: none;  margin: 15px 0 0 0; padding: 0px; } 
footer ul li{ display: inline-block;  vertical-align: middle;   }
footer ul li:before{ content: " "; width: 1px; height: 15px;  background: #FFF; display: inline-block; vertical-align: middle; }
footer ul li:first-child:before{ content: ""; display: none;   }
footer ul li a{ color: #FFF; display: inline-block; font-size: 14px; line-height: 15px; margin : 0px 3px 0 4px;  }
footer ul li a:hover{ color: #FFF; }

#menu-nav{ display: block; width:100%;  text-align:center; }
#menu-nav ul{ list-style: none; margin:0px; padding: 60px 0 25px 0; text-align: center; display: inline-block;   }
#menu-nav ul li{ display: block;  }
#menu-nav ul li a{ color: #336633; font-size: 28px; line-height: 50px; text-transform: uppercase;    }
#menu-nav ul li a.btn-secondary{ color: #FFF !important; padding: 0px 50px; margin-top: 50px;   }

#uso_dei_cookie{ position: fixed; z-index: 991; text-align: center; ;font-size: 13px; bottom: 0px; width: 100%; padding:5px 5px; line-height:24px; background: #FFF; text-align: center !important; color: #333; font-weight: 300; -webkit-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.4); box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.4); }
#uso_dei_cookie .wrapping{ padding: 5px;}
#uso_dei_cookie a{ color:#336633; text-decoration:underline}
#uso_dei_cookie .wrap{ width:1200px; margin:0px auto;}
#uso_dei_cookie .cookie_btn{ color:#336633; padding:0 10px; display: inline-block;}
#uso_dei_cookie .cookie_btn.moreinfo{ text-decoration: underline; background: none; text-decoration: underline; color: #336633; }
#uso_dei_cookie .cookie_btn.accettaevai{ background:#336633; display:inline-block; padding:1px 15px; border-radius:0px; text-decoration:none; color: #FFF; text-decoration: none;   }

.fotogallery{ position: relative; }
.fotogallery > div{ float: left;  }
.fotogallery > div > a{ display:  block;  }

.fotogallery > div:nth-child(9n-8){ width: 45%; padding: 4px 4px 4px 0px;  }
.fotogallery > div:nth-child(9n-7){ width: 25%; padding: 4px 4px 4px 4px;  }
.fotogallery > div:nth-child(9n-6){ width: 30%; padding: 4px 0px 4px 4px;  }

.fotogallery > div:nth-child(9n-5){ width: 33%; padding: 4px 4px 4px 0px;  }
.fotogallery > div:nth-child(9n-4){ width: 33%; padding: 4px 4px 4px 4px;  }
.fotogallery > div:nth-child(9n-3){ width: 33%; padding: 0px 4px 4px 4px;  margin-top: 278px; margin-left: -33%;   }
.fotogallery > div:nth-child(9n-2){ width: 34%; padding: 4px 0px 4px 4px;  }

.fotogallery > div:nth-child(9n-1){ width: 60%; padding: 4px 4px 4px 0px;  }
.fotogallery > div:nth-child(9n){ width: 40%; padding: 4px 0px 4px 4px;  }

.fotogallery > div:nth-child(9n-8) > a,
.fotogallery > div:nth-child(9n-7) > a,
.fotogallery > div:nth-child(9n-6) > a{ height: 400px;   }

.fotogallery > div:nth-child(9n-5) > a { height: 540px;  }
.fotogallery > div:nth-child(9n-4) > a { height: 266px; }
.fotogallery > div:nth-child(9n-3) > a { height: 266px; }
.fotogallery > div:nth-child(9n-2) > a { height: 540px;  }

.fotogallery > div:nth-child(9n-1) > a{ height: 400px;   }
.fotogallery > div:nth-child(9n) > a{ height: 400px;   }

.fotogalleryend{  clear: both; margin: 0 0 40px 0px; display: block; position: relative;  }

.fancybox-button, 
.fancybox-button:visited, 
.fancybox-button:link{ min-width: 100px; }
.fancybox-button div .fa{ font-size: 40px; }
.fancybox-navigation .fancybox-button{ height: 120px; }

.standard-contatti .standard-album{ margin-top: 0px; margin-bottom: 0px; padding-top: 40px; padding-bottom: 40px;   }

.moduloGU{ position: relative; margin: 20px 0 0 0; }
.moduloGU input{ border:0px; line-height: 30px; height: 30px; display: block; padding: 0px 10px;  }
.moduloGU input[type=text]{ margin: 0 0 5px 0px;  }
.moduloGU input[type=text],
.moduloGU textarea,
.moduloGU input[type=date]{ color: #333; font-size: 16px; width: 100%; border: 0px; background: transparent;  }
.moduloGU textarea{ padding: 10px; line-height: 20px; min-height: 174px; }
.moduloGU .voce{ padding-left: 10px; font-size: 14px; font-weight: 400; color: #666; margin: 5px 0 0 0; }
.moduloGU .riga-cont{ font-size: 18px; text-transform: uppercase; line-height: 30px; background: rgba(255,255,255,0.8); border: 1px solid #d5b480; margin-bottom: 10px;  }
.moduloGU input[type=checkbox]{  display: none; }
.moduloGU label{ vertical-align: middle; display: inline-block; font-size: 16px; line-height: 32px; color: #333; padding: 0px 0 0px 0 ; font-weight: 300; margin: 0px 0px 10px;   }
.moduloGU label:before{vertical-align: middle; content: " "; position: relative; display: inline-block; width: 32px; height: 32px; background: rgba(255,255,255,0.8);  border:1px solid #d5b480; margin: -5px 15px 0 0   }
.moduloGU input[type=checkbox]:checked + label:before{ line-height: 32px; text-align: center;  content:"\f00c"; font-family: "Fontawesome"; color: #336633; font-size: 26px; }
.moduloGU .errore input[type=checkbox] + label:before{  background: #CC000033; border: 1px solid #CC0000;  }
.moduloGU input[type="text"].errore{ border:1px solid #ff3300; }
.moduloGU input[type=submit]{ background: #d5b480; color: #FFF; font-size: 18px; line-height: 64px; height: 64px;  display: block; width: 100% ;  }
.moduloGU .riga-cont.errore{ background: #CC000033; border: 1px solid #C00; }
.moduloGU a{ color: #d5b480;  }



@media only screen and (max-width: 1200px){
	.owl-theme .owl-dots{  width:60%; left: 40%;  }
	#mappastandard{ width: 150%;  }
}

@media only screen and (max-width: 992px){
	#header .logo img{ max-width: 100%;  }

	.btn.btn-primary{ width: 100%;  }

	.contieni-pagine{  padding-bottom: 0px;  }
	.contieni-pagine .bganteprima .btn{ width: calc( 100% - 30px ); left: 15px;   }
	.contieni-pagine .contenitore{ margin-bottom: 40px;  }

	.fotogallery > div:nth-child(9n-3){ margin-top: 209px  }
	.fotogallery > div:nth-child(9n-8) > a,
	.fotogallery > div:nth-child(9n-7) > a,
	.fotogallery > div:nth-child(9n-6) > a{ height: 320px;   }

	.fotogallery > div:nth-child(9n-5) > a { height: 400px;  }
	.fotogallery > div:nth-child(9n-4) > a { height: 195px; }
	.fotogallery > div:nth-child(9n-3) > a { height: 195px; }
	.fotogallery > div:nth-child(9n-2) > a { height: 400px;  }

	.fotogallery > div:nth-child(9n-1) > a{ height: 320px;   }
	.fotogallery > div:nth-child(9n) > a{ height: 320px;   }	
}

@media only screen and (max-width: 768px){
	#header .prenota,
	#header .icons,
	#header .chiudi,
	#header .menu{ font-size: 12px;   }
	#header .icons .fa{ font-size: 40px; }
	#menu-nav ul{  padding: 25px 0;   }
}
@media only screen and (max-width: 576px){

	#immagine{padding: 5px;}

	.navheader{ padding: 5px 0; }

	#header .prenota,
	#header .icons,
	#header .chiudi,
	#header .menu{ font-size: 9px;   }
	#header .icons .fa{ font-size: 28px; }
	#header .prenota img{ max-width: 30px; }
	#header .icons .fa{ margin-bottom: 0px; line-height: 43px; }

	#header .menu > span:nth-child(1){ width: 30px; height: 2px; background: #336633; margin: 8px 0 0 0; }
	#header .menu > span:nth-child(2){ width: 20px; height: 2px; background: #336633; margin: 10px 0; }
	#header .menu > span:nth-child(3){ width: 30px; height: 2px; background: #336633; margin: 0 0 0px 0; }
	#header .menu > span:nth-child(4){ margin-top: 8px;   }

	#menu-nav ul li a{ font-size: 22px; line-height: 40px; }
	#menu-nav ul li a.btn-secondary{ margin-top: 30px;   }

	#header .chiudix{ width: 40px; height: 38px; margin: 8px auto -8px; }
	#header .chiudix:before, #header .chiudix:after { left: 19px; height: 20px;  }

	table td{ display: block; margin: 0px auto 10px ; width: 100% !important; }
	table td img{ display: block; margin:0px auto;  }

	.standard-album .immagine-album,
	.standard-album.sx .owl-album{ width:100%;  position: relative;   }
	.standard-album .contieni-testo{ padding: 15px ; margin-top: 0px; margin-bottom: 0px; box-shadow: unset;  }

	.bloccomappa.absolute{ position: relative ;  top: -20px;  }
	#mappastandard{ width: 100%; }

	.standard-mappa{ padding: 5px 15px;   }

	.owl-theme .owl-dots{ width: 100%; left: 0px; text-align: center; bottom: 30px;   }
	.owl-theme .owl-dots .owl-dot span{  margin: 4px 8px;   }

	.fotogallery > div:nth-child(9n-3){ margin-top: 107px  }
	.fotogallery > div:nth-child(9n-8) > a,
	.fotogallery > div:nth-child(9n-7) > a,
	.fotogallery > div:nth-child(9n-6) > a{ height: 180px;   }

	.fotogallery > div:nth-child(9n-5) > a { height: 200px;  }
	.fotogallery > div:nth-child(9n-4) > a { height: 97px; }
	.fotogallery > div:nth-child(9n-3) > a { height: 97px; }
	.fotogallery > div:nth-child(9n-2) > a { height: 200px;  }

	.fotogallery > div:nth-child(9n-1) > a{ height: 180px;   }
	.fotogallery > div:nth-child(9n) > a{ height: 180px;   }
}

#ristorante:hover
{
	transition: 500ms;
	background-color:#336633;
}