body
{
font-family: 'Mukta', sans-serif;
}
table 
{
margin: 0 auto;
width: 75%;
height: 75%;
text-align: center;
line-height: 4rem;
font-size: 1.4rem;
}
#sottotitolo
{   
font-size: 1.4rem;
}
table th
{
border: 1px solid white;
background-color: #336633;;
color: white;
line-height: normal;
}
table tr:nth-child(even)
{
background-color: #dddddd;
}
table tr:nth-child(odd)
{
background-color: #ffffff;
}
.supplementioffertecondizioni
{
text-align: center;
font-size: 1.4rem;
margin-bottom: 25px;
margin-top: 75px;
min-width: 100%;
}
.separatore
{
display: block;
margin: 0px auto 20px;
margin-top: 75px;
}
#titoli
{
margin-top: 25px;
margin-bottom: 10px;
font-style: italic;
font-size: 3rem;
}

footer
{
background-color: #336633;
text-align: center;
color: white;
}
.logo
{
   margin-top: 25px;
}
.separatore-b
{
display: block;
margin: 30px auto;
}

a:hover
{
text-decoration: underline;
}

.col-12 p
{
   font-weight: bold;
   font-size: 1.2rem;
   
}

/*tabella prezzi per mobile e desktop */
@media screen and (max-width: 576px) {
   #tabelladesktop {
     display: none;
   }
 }

 @media screen and (min-width: 576px) {
   #tariffe_smartphone {
     display: none;
   }
 }

