#main
{ width: 100vw;
  background: linear-gradient(180deg, rgba(76, 175, 80, 0.5) 0%, rgba(49, 220, 255, 0.5) 100%);
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .playwrite {
    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    
  }

  #tasto
  {
    background-color: #4DC247;
    border: #4DC247;
  }

  #mioInput
  {
    margin-right: 0 !important;
  }