/* div
{
border: 1px solid green;
} */

h1, h2, h3
{
color: #1566C0;
font-family: 'Righteous', sans-serif;
}
p
{
font-family: 'Roboto', sans-serif;
}

/* header */

header
{   
height: 100vh;
background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%), url(./media/header.jpg);
background-size: cover;
}

#btn_header
{
transition: box-shadow 300ms ease-out 31ms;
}
#btn_header:hover
{
box-shadow: 0px 0px 45px 14px rgba(255, 0, 0, 1);
}

/* fine header */

/* cards */

#under
{
margin-top: 190px;
}

#first
{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.87)), url(./media/1.png);
background-size: cover;
}
#second
{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.87)), url(./media/2.png);
background-size: cover;
}
#third
{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.87)), url(./media/3.png);
background-size: cover;
}
#fourth
{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.87)), url(./media/4.png);
background-size: cover;
}
hr
{
border: 2px solid rgb(255, 255, 0);
}
#icons_cards
{
font-size: 30px;
}

/*  fine cards */

/* circles */

#circles
{
border: 3px solid #1566C0
}

/* fine circles */

/* footer */

footer
{   
height: 100vh;
background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.990) 0%, rgba(0, 0, 0, 0.521) 100%), url(./media/footer.jpg);
background-size: cover;

}


















